<div class="game">
    <div class="game-board">
        <app-board
            [squares]="this.history[this.stepNumber]"
            (squareClicked)="this.handleClick($event)"
        >
        </app-board>
    </div>
    <div class="game-info">
        <div>{{this.status}}</div>
        <div>
            <ol>
                <li *ngFor="let history of this.history; index as index">
                    <button (click)="this.jumpTo(index)">
                        {{ (index ? 'Go to move #' + index : 'Go to game start') }}
                    </button>
                </li>
            </ol>
        </div>
    </div>
</div>