<div class="game">
    <div class="game-board">
        <app-board
            [board]="this.history[this.stepNumber]"
            (squareClicked)="this.handleClick($event)"
        >
        </app-board>
    </div>
    <div class="game-info">
        <div>{{this.status}}</div>
        <div>
            <button>Sort ascending</button>
            <button>Sort descending</button>
            <ol>
                <li *ngFor="let history of this.history; index as index">
                    <button
                        (click)="this.jumpTo(index)"
                        [class.current-move]="index === this.stepNumber"
                    >
                        {{
                            index
                                ? 'Go to move #' + index + ' (' + history.lastMoveColumn + ', ' + history.lastMoveRow + ')'
                                : 'Go to game start'
                        }}
                    </button>
                </li>
            </ol>
        </div>
    </div>
</div>