<div class="game">
    <div class="game-board">
        <app-board
            [board]="this.history[this.stepNumber]"
            (squareClicked)="this.handleClick($event)"
        >
        </app-board>
    </div>
    <div class="game-info">
        <div>{{this.status}}</div>
        <div>
            <button (click)="this.sortAscending()">Sort ascending</button>
            <button (click)="this.sortDescending()">Sort descending</button>
            <ol>
                <li *ngFor="let history of (this.sortingAscending ? this.history : this.history.reverse())">
                    <button
                        (click)="this.jumpTo(history.moveNumber)"
                        [class.current-move]="history.moveNumber === this.stepNumber"
                    >
                        {{
                            history.moveNumber
                                ? 'Go to move #' + history.moveNumber + ' (' + history.lastMoveColumn + ', ' + history.lastMoveRow + ')'
                                : 'Go to game start'
                        }}
                    </button>
                </li>
            </ol>
        </div>
    </div>
</div>